@model ShopMonolitica.Web.Data.Models.Scores.ScoresGetModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.testid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.testid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studentid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studentid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.score)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.studentid }) |
    <a asp-action="Index">Back to List</a>
</div>
