@model IEnumerable<ShopMonolitica.Web.Data.Models.ProductsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discontinued)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unitprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discontinued)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.productid  }) |
                @Html.ActionLink("Details", "Details", new { id=item.productid }) |
            </td>
        </tr>
}
    </tbody>
</table>
