@model ShopMonolitica.Web.Data.Models.CategoriesRemoveModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Categories </h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
